{% extends 'base.html' %}
{% load my_tags %}

{% block content %}

<!-- История ресторана -->
<section id="history" class="container py-5 fade-in">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h4 class="mt-3">{{ content.history_title|safe }}</h4>
                <p>{{ content.history_desc|safe }}</p>
            </div>
        </div>
        <div class="col-md-6 about-image-block">
            {% if content.history_image %}
            <img src="{{ content.history_image.url }}" class="img-fluid rounded shadow" alt="История ресторана">
            {% endif %}
        </div>
    </div>
</section>

<!-- Миссия и ценности -->
<section id="mission" class="container py-5 fade-in">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h4 class="mt-3">{{ content.mission_title|safe }}</h4>
                <p>{{ content.mission_desc|safe }}</p>
            </div>
        </div>
        <div class="col-md-6 about-image-block">
            {% if content.mission_image %}
            <img src="{{ content.mission_image.url }}" class="img-fluid rounded shadow" alt="Миссия">
            {% endif %}
        </div>
    </div>
</section>

<!-- Наша команда -->
<section id="band" class="container py-5 fade-in">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h4 class="mt-3">{{ content.band_title|safe }}</h4>
                <p>{{ content.band_desc|safe }}</p>
            </div>
        </div>
        <div class="col-md-6 about-image-block">
            {% if content.band_image %}
            <img src="{{ content.band_image.url }}" class="img-fluid rounded shadow" alt="Команда">
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
