{% extends 'base.html' %}
{% load my_tags %}

{% block content %}

<!-- Меню -->
<section id="menu" class="container py-5 fade-in">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 d-flex flex-column justify-content-center text-center">
            <h4 class="mb-3">{{ content.menu_title|safe }}</h4>
            <p class="text-justify">{{ content.menu_desc|safe }}</p>
        </div>
        <div class="col-md-6 about-image-block text-center">
            {% if content.menu_image %}
            <img src="{{ content.menu_image.url }}" class="img-fluid rounded shadow" alt="Меню ресторана">
            {% endif %}
        </div>
    </div>
</section>

<!-- Мероприятия -->
<section id="events" class="container py-5 fade-in">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 d-flex flex-column justify-content-center text-center">
            <h4 class="mb-3">{{ content.events_title|safe }}</h4>
            <p class="text-justify">{{ content.events_desc|safe }}</p>
        </div>
        <div class="col-md-6 about-image-block text-center">
            {% if content.events_image %}
            <img src="{{ content.events_image.url }}" class="img-fluid rounded shadow" alt="Мероприятия">
            {% endif %}
        </div>
    </div>
</section>

<!-- Живая музыка -->
<section id="live_music" class="container py-5 fade-in">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 d-flex flex-column justify-content-center text-center">
            <h4 class="mb-3">{{ content.live_music_title|safe }}</h4>
            <p class="text-justify">{{ content.live_music_desc|safe }}</p>
        </div>
        <div class="col-md-6 about-image-block text-center">
            {% if content.live_music_image %}
            <img src="{{ content.live_music_image.url }}" class="img-fluid rounded shadow" alt="Живая музыка">
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
